.fruit-field {
	overflow: hidden;
}
.fruit-field-column {
	width: 50%;
	float:left;
}
.fruit-field-column:first-child div {
	padding-right: 10px;
}
.fruit-field-column .checkboxfield {
	padding-top: 5px;
}
.fruitlinkit {}
.fruitlinkit-type {
	float:left;
	margin-right: 10px;
}
.fruitlinkit-type select { max-width: 130px; }
.fruitlinkit-options {
	float:left;
}

.fruitlinkit-options .input .elementselect .element {
	margin: 0;
}
.fruitlinkit-settings {
	clear:both;
	padding-top: 10px;
}
