{% import "_includes/forms" as forms %}

{{ forms.checkboxSelectField({
	label: "Link Types"|t,
	instructions: "Select the types of links would you like available."|t,
	id: 'types',
	name: 'types',
	options: types,
	values: settings.types,
	errors: settings.getErrors('types'),
	showAllOption: false,
}) }}

<hr>

{{ forms.textField({
	label: "Default Link Text"|t,
	instructions: "Set a default value for this links text value, can be overridden if custom link text option is selected."|t,
	name: 'defaultText',
	value: settings.defaultText
}) }}

{{ forms.checkboxField({
	label: "Allow custom link text"|t,
	name: 'allowCustomText',
	checked: settings.allowCustomText
}) }}

{{ forms.checkboxField({
	label: "Allow option to open link in new window"|t,
	name: 'allowTarget',
	checked: settings.allowTarget
}) }}

{% if elementSources.entry %}

	<hr>

	{{ forms.checkboxSelectField({
		label: "Entry Sources"|t,
		instructions: "Which sources do you want to select entries from?"|t,
		id: 'entrySources',
		name: 'entrySources',
		options: elementSources.entry,
		values: settings.entrySources,
		errors: settings.getErrors('entrySources'),
	})}}

	{{ forms.textField({
		label: "Entry Selection Label"|t,
		instructions: "Enter the text you want to appear on the entry selection input."|t,
		name: 'entrySelectionLabel',
		value: settings.entrySelectionLabel
	}) }}

{% else %}
	{# {{ forms.field({
		label: "Entry Sources"|t,
		instructions: "No entry sources exist yet."|t
	}) }} #}
{% endif %}


{% if elementSources.asset %}

	<hr>

	{{ forms.checkboxSelectField({
		label: "Asset Sources"|t,
		instructions: "Which sources do you want to select assets from?"|t,
		id: 'assetSources',
		name: 'assetSources',
		options: elementSources.asset,
		values: settings.assetSources,
		errors: settings.getErrors('assetSources'),
	})}}

	{{ forms.textField({
		label: "Asset Selection Label"|t,
		instructions: "Enter the text you want to appear on the asset selection input.",
		name: 'assetSelectionLabel',
		value: settings.assetSelectionLabel
	}) }}

{% else %}
	{# {{ forms.field({
		label: "Asset Sources"|t,
		instructions: "No asset sources exist yet."|t
	}) }} #}
{% endif %}


{% if elementSources.category %}

	<hr>

	{{ forms.checkboxSelectField({
		label: "Category Sources"|t,
		instructions: "Which sources do you want to select categories from?"|t,
		id: 'categorySources',
		name: 'categorySources',
		options: elementSources.category,
		values: settings.categorySources,
		errors: settings.getErrors('categorySources'),
	}) }}

	{{ forms.textField({
		label: "Category Selection Label"|t,
		instructions: "Enter the text you want to appear on the category selection input."|t,
		name: 'categorySelectionLabel',
		value: settings.categorySelectionLabel
	}) }}

{% else %}
	{# {{ forms.field({
		label: "Category Sources"|t,
		instructions: "No category sources exist yet."|t
	}) }} #}
{% endif %}
